/*General*/
body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

/*Header and Footer*/
.header{
    background-color: #A8D5BA;
    color: #2E7D59;
    padding-top: 50px;
    text-align: center;

}

.header nav ul {
    list-style: none;
    padding: 20px;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: right;
    gap: 20px;


}

.header a {
    color: #1D3C34;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
}

/*Footer*/
.footer {
    background-color: #A8D5BA;
    color: #2E7D59;
    padding: 20px 0;
    text-align: center;
}